@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.jersey{
  font-family: "Jersey 25", sans-serif;
}
.bgColor{
    background-color: #07081c;
    /* #E45826 orange */
    /* darkblue */
    /* background-color: #0b0c1f   ; */
    /* 141535 new bg color for card details */
}
.shape{
    filter: drop-shadow(0 0 1px white );
}
.text{
    text-shadow: 0 0 1px white;
}
.text2{
    text-shadow: 0 0 1px #E45826;
}

.colorImg{
   
        filter: invert(100%);
      
}
.orange-map{
    filter: grayscale(100%) contrast(0.2) brightness(0.8);
}

  /* loading animation */
.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Adjust height as needed */
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #E45826; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 100%;
    animation: spin 1s linear infinite; /* Apply animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .star{
    font-family: "Blinker", sans-serif;
  }
  