@tailwind base;
@tailwind components;
@tailwind utilities;

.bgColor{
    background-color: #07081c;
    /* #E45826 orange */
    /* darkblue */
    /* background-color: #0b0c1f   ; */
}
.shape{
    filter: drop-shadow(0 0 1px white );
}
.text{
    text-shadow: 0 0 1px white;
}


  